.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
  }
  

.nav{
   margin-left: 200px;
   margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.navlink{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.nav a{
    text-decoration: none;
}
.nav button{
    background-color: orange;
    border: 1px orange;
    border-radius: 12px;
    color: white;
    width: 197px;
    height: 50px;
    padding: 10px;
}
.banner{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title h2{
    font-weight: bold;
    font-size: 56px;
}
.banner-title p{
    font-weight: light;
    font-size: 20px;
}
.banner button,.btn3{
    width: 197px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    font-size:20px ;
}
.school-section{
    background-image: url('assets/bg.png');
}
.school-section2{
    background-image: url('assets/bg.png');
    background: linear-gradient(to top, #ff01af1a, #F7FBFF);
    
}
.standard-title{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
}
.standard{
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .001px;
    align-items: center;
}
.school1, .school2, .school3{
    width: 365px;
    height: 475px;
    border-radius: 18px;
    text-align: center;
    box-shadow: #01ACFD;
    
}
.btn{
    border: none;
    background-color: white;
}
.card-title{
    font-weight: bold;
    font-size: 24px;
}
.card-description{
    font-weight: medium;
    font-size: 15px;
    color: grey;
}
.school-img{
    margin-top: 70px;
}
.school1, .school2, .school3
{
    padding: 20px;
    font-weight: lighter;
    font-size: 15px;
}
.school1{

    background: linear-gradient(to bottom,  #E3F3FF,#F7FBFF); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08); 
    border-radius: 16px;
    text-align: center;
    padding: 40px 20px 20px;
    width: 365px;
    height: 490px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.school2{
    
    background: linear-gradient(to bottom,  #fff4dc,#F7FBFF); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08); 
    border-radius: 16px;
    text-align: center;
    padding: 40px 20px 20px;
    width: 365px;
    height: 490px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.school3{
    background-color: #f2e8ff;
    background: linear-gradient(to bottom,  #f2e8ff,#F7FBFF); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08); 
    border-radius: 16px;
    text-align: center;
    padding: 40px 20px 20px;
    width: 365px;
    height: 490px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.stories, .stories2{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
}
.stories2{
    margin-top: -250px;
    padding: 20px;
}
.container{
    display: flex;
    border-radius: 16px;
    gap: 40px;
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 350px;
    margin-right: 200px;
    align-items: center;
    justify-content: flex-start;
}
.side-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.im1{
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}
.card1{
    display: grid;
    width: 540px;
    height: 630px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px; 
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.card2{
    display: grid;
    width: 290px;
    height: 307px;
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
    text-align: left;   
    box-shadow: 0 2px 4px rgba(0,0,0,0,1); 
}
.content{
    padding: 20px;
    margin-top: -160px;
}
.content p{
    font-weight: lighter;
    font-size: 15px;
}
.content2, .content3{
    padding: 20px;
    margin-top: -80px;
}

.content2 p, .content3 p{
    font-weight: bold;
    font-size: 15px;
}


.content button, .content2 button, .content3 button{
    width: 175px;
    height: 45px;
    background-color: skyblue;
    color: white;
    border-radius: 45px;
    border-color: skyblue;
}
.content2 button{
    background-color: green;
}
.content3 button{
    background-color: blue;
    margin-top: 10px;
}
.card1 img,.card2 img{
    width: 100%;
}
}
.btn3{
    gap: 50px;
}
.footer{   
    padding: 100px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #01ACFD;
    gap: 250px;
    color: white;
}
.section1{
    display: grid;
    align-items: center;
}
.section1-logo{
    display: flex;
    align-items: center;
}
.section1-logo img{
    width: 82px;
}
.section1-logo p{
    font-weight: bold;
    font-size: 40px;
}
.section1-description{
    font-weight: lighter;
    font-size: 20px;
}
.section2-link a {
    text-decoration: none;
    display: grid;
    grid-template-rows: repeat(1,3fr);
    color: white;
    row-gap: 40px;
    font-weight: normal;
    font-size: 20px;
}
.section2 p{
    font-weight: bold;
    font-size: 24px;
}
.section3 p{
    margin-top: -40px;
    font-weight: bold;
    font-size: 20px;
}

.menu-icon {
    display: none; 
}

@media screen and (max-width: 576px) {
    .standard {
        margin-left: 50px;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    .menu-icon {
        display: none; 
        padding: 20px;
        height: 70px;
        font-size: 30px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 200px;
    }
  
     .card1 {
        display: none; 
     }
    

    .card2 {
        width: 100%;
        height: auto;
    }

    .school1, .school2, .school3 {
        width: 100%;
        height: auto;
    }
    .footer{
       padding: 40px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       text-align: left;
       gap: 10px;
    }
    .section1-logo{
        display: flex;
        text-align: left;
    }
    .section1{
       display: flex;
       flex-direction: column;
       align-items: baseline ;
       justify-content: flex-start;
    }
    .section1-description{
        text-align: left;
    }
    .section2-link{
        text-align: left;
    }
    .section2-link a{
        row-gap: 10px;
    }
    .section3 p{
        text-align: left;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .navlink {
        display: none;
    }

    .menu-icon {
        display: block; 
    }

    .cn{
        display: none;
    }
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner-title h2 {
        font-size: 36px;
    }

    .banner-title p {
        font-size: 18px;
    }

    .school-section, .school-section2 {
        padding: 20px;
    }


    .standard {
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .school1, .school2, .school3 {
        width: 90%;
        margin: auto;
    }

    .container {
        margin-bottom: 100px;
    }

    .content, .content2, .content3 {
        margin-top: -50px;
    }

    .stories {
        font-size: 36px;
    }

    .footer {
        text-align: center;
    }
}


